import(utils, methods)

importFrom("tools", file_ext)
importFrom("stats", prcomp, predict, shapiro.test, smooth.spline, runif, as.formula, formula, sd, ks.test, weighted.mean, aggregate, fitted, resid, na.pass, ave, var, rnorm, fitted.values, quantile, density, na.omit, complete.cases, family, gaussian, glm, weights, step)
importFrom("grDevices", nclass.Sturges, col2rgb, dev.new)
importFrom("graphics", par, abline, lines)
importFrom("aqp", SoilProfileCollection, horizonDepths, horizons)
import("sp")
importFrom("raster", rasterize, extract, brick, stack, raster, writeRaster, extension, resample, removeTmpFiles, filename, maxValue, inMemory, projection, "projection<-", extent, fromDisk, getValues, calc, distance)
importFrom("dismo", maxent, kfold, randomPoints, evaluate)
importFrom("RSAGA", set.file.extension, rsaga.geoprocessor, rsaga.env)
importFrom("rgdal", readGDAL, writeGDAL, GDALinfo, ogrInfo, CRSargs, readOGR, writeOGR, showWKT, make_EPSG)
importFrom("gstat", fit.variogram, vgm, krige, variogram, variogramLine)
importFrom("plotKML", plotKML, plotKML.env, check_projection, parse_proj4, vect2rast, reproject, normalizeFilename, plotKML.opts, kml_layer, kml_View, kml_close, kml_open, R_pal, SAGA_pal)
importFrom("plyr", rbind.fill, is.formula, join)
importFrom("scales", alpha)

importClassesFrom("aqp", SoilProfileCollection)
importClassesFrom("plotKML", SpatialPredictions, SpatialMaxEntOutput, RasterBrickSimulations)
importClassesFrom("raster", RasterLayer, RasterStack)

exportClasses(geosamples, WPS, SpatialComponents, gstatModel, GlobalSoilMap, SoilGrids)
exportMethods(as.data.frame, mpspline, as.geosamples, getID, getProcess, describe, over, spc, autopredict, fit.gstatModel, fit.vgmModel, fit.regModel, test.gstatModel, sample.grid, spfkm, spmultinom, spsample.prob, make.3Dgrid, sp3D, subset, warp, write.data, merge, predict, validate, summary, tile, getSpatialTiles, extract, stack, show, plot, buffer.dist)
S3method(print, gstatModel)
S3method(plot, gstatModel)
S3method(predict, gstatModel)
S3method(predict, gstatModelList)
exportPattern("^[^\\.]")